body {
    margin: 0;
    padding: 0;
    overflow: hidden;  
    background: linear-gradient(#1ca1ca, #177fc5);
}

.no-pointer-events {
    pointer-events: none;
  }
.pointer-events {
pointer-events: auto;
}

.joystick-container {
    position: absolute;
    width: 50%;
    height: 100%;
}

#joystickLeft {
    left: 0px;
}

#joystickRight {
    right: 0px;
}

#content {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#fullScreenImg {
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
}